

body {
	font-family: Verdana;
	background: url(../img/bg.png) fixed repeat;
	/*background-size: cover;*/
}

.str-search {
	height: 36px; width: 200px; display: inline-block; vertical-align: middle;
}

.btn-search {
	height: 36px; display: inline-block; vertical-align: middle;
	color: #aaa;
}

.row {
	margin-top: 25px;
}

.sidebar {
	margin-top: 40px;
}

.sidebar ul>li>a:hover {
	background-color: #999;
	color: #fff;
	
}

.main {
	margin-top: 40px;	
}

.page-header {
	margin-top: 0px;
}

#r47717_mainbundle_task_task, #form_task, #form_description, #form_status  {
	width: 100%;
}

#r47717_mainbundle_task_description {
	height: 130px; width: 100%;
}

#r47717_mainbundle_task_submit {
	width: 140px;
}

.completed {
	text-decoration: line-through;
}

.overdue-row {
	background: #FFC2B3;
}

.ontime-row {

}

table {
	background-color: #fff;
}

.stat-table td {
	border: 1px solid #ccc;
	width: 300px;
	padding: 10px;
}

.calendar-table td {
	border: 1px solid #ccc;
	width: 500px;
	padding: 30px;
}

.footer {
	height: 100px;
}