

body {
	font-family: Verdana;
}

.row {
	margin-top: 25px;
}

.sidebar {
	margin-top: 40px;
}

.main {
	margin-top: 40px;	
}

.page-header {
	margin-top: 0px;
}

#r47717_mainbundle_task_task, #form_task, #form_description, #form_status  {
	width: 100%;
}

#r47717_mainbundle_task_description {
	height: 130px; width: 100%;
}

#r47717_mainbundle_task_submit {
	width: 140px;
}

.completed {
	text-decoration: line-through;
}

.overdue-row {
	background: #FFC2B3;
}

.ontime-row {

}

.stat-table td {
	border: 1px solid #ccc;
	width: 300px;
	padding: 10px;
}

.calendar-table td {
	border: 1px solid #ccc;
	width: 500px;
	padding: 30px;
}

.footer {
	height: 100px;
}