{% extends '::Task:index.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<h3>Ponny</h3>
<p>Simple Symfony2 web application</p>
{% endblock %}

{% block filter_form %}   
{% endblock %}