{% extends 'layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<h3>Ponny</h3>
<p>Simple Symfony2 web application</p>
<img src="/img/1.png" alt="" width=300px height=300px>
{% endblock %}

{% block filter_form %}   
{% endblock %}